body {
  background-image: url('/static/img/IMG_6476-large-gray.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #F26101;
}

    
.navbar {
  background: transparent;
  border: none;
  color: red;
  font-family: 'Quando', serif;
}


h1 {
    font-family: 'Quando', serif;   
    color: black;
    padding-right: 15px;
    padding-left: 15px;
}

h3 {
    font-family: 'Quando', serif;   
    color: black;
}


h2 {
    font-family: 'Quando', serif;   
    color: black;
}

div {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding-right: 15px;
    padding-left: 15px;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
}

a {
    color:rgb(0, 27, 154);
}

