<!doctype HTML>
<html>
    <head>
        <title>Race Tracking</title>
    </head>
    <body>
        <a href='/'>Race Tracking Search<a>

        {% if 'user_id' in session %}
            <a href='/logout'>Log Out</a>
            <a href='/users/{{ session["user_id"] }}'>My Profile</a>
        {% else %}
            <a href='/login'>Sign In</a>
            <a href='/register'>Register</a>
        {% endif %}
        <hr>

        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}

        {% block content %} CONTENT IS HERE {% endblock %}


    </body>
</html>