{% extends 'base.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/js/update-logistics.js"></script>

<input id="race-id" type="hidden" name="race-id" value="{{ tracked_race.race_id }}">

<div style="margin-top: 20px;">These are your logistics for: {{ tracked_race.race.event_name }}:
    <table style="margin-top: 20px;" border="0">
        <tr>
            <td>Logistics</td>
            <td>Booked?</td>
            <td>Change in status?</td>
        <tr>
        <tr>
            <td>Race registration?</td>
            <td id="race-status">{{ tracked_race.registered_status_indicator }}</td>
            <td>
                <label for="update-race-registration">
                <input type="button" name="update-race-registration" id="update-race-registration" value="Update!" onclick="updateRaceRegistration()">
                </label>
            </td>
        </tr>
        <tr>
            <td>Hotel reserved?</td>
            <td id="hotel-status">{{ tracked_race.hotel_reserved_indicator }}</td>
            <td>
                <label for="update-hotel-status">
                <input type="button" name="update-hotel-status" id="update-hotel-status" value="Update!" onclick="updateHotelStatus()">
                </label>
            </td>
        </tr>
        <tr>
            <td>Airfare reserved?</td>
            <td id="airfare-status">{{ tracked_race.airfare_reserved_indicator }}</td>
            <td>
                <label for="update-airfare-status">
                <input type="button" name="update-airfare-status" id="update-airfare-status" value="Update!" onclick="updateAirfareStatus()">
                </lable>
            </td>
        </tr>
        <tr>
            <td>Transportation?</td>
            <td id="transportation-status">{{ tracked_race.transportation_reserved_indicator }} </td>
            <td>
                <label for="transportation-status">
                <input type="button" name="update-transportation-status" id="update-transportation-status" value="Update!" onclick="updateTransportationStatus()">
                </label>
            </td>
        </tr>
    </table>
</div>
<div>
    When would you like your first email notification? 
    {{ tracked_race.email_notification_start_date_at }}

{% endblock %}